
<main class="flex flex-row mt-7">
    <nav
      class="hidden sm:flex flex-col ml-5 w-[370px] min-h-[calc(100vh-3.0rem)] bg-white bg-opacity-10 p-5 rounded-3xl"
    >
      <!-- <img class="mb-5" src="https://firebasestorage.googleapis.com/v0/b/pipostudio-5f23c.appspot.com/o/logodark.svg?alt=media&token=df4a5069-2909-4941-bcf8-7399d14de7ef" width="180"> -->
      <span class="text-xl">Herramientas AI</span>
  
      <div class="border-gray-700 border my-3"></div>
  
      <!-- Nav Links -->
      @for (route of routes; track route.path) {
        <app-sidebar-menu-component
          [desc]="route.data!['description']"
          [icon]="route.data!['icon']"
          [title]="route.data!['title']"
          [path]="route.path!"
        />
  
      }
      <!-- End Nav Links -->
    </nav>
  
    <section
      class="mx-3 sm:mx-10 flex flex-col w-full h-[calc(100vh-50px)] bg-white bg-opacity-10 p-2 rounded-3xl"
    >
      <div class="flex h-full flex-row">
        <div class="flex flex-col flex-auto p-1">
          <router-outlet />
        </div>
      </div>
    </section>
  </main>